$primary: #006699;

h2 {
	color: $primary;
}

.issues {
	margin-top: 100px;
	font-size: 12px;
}

.title {
	text-align: center;
}

.labels {
	text-align: right;
	padding: 2px;
	border: 1px solid #ccc;
	display: block;
	border-radius: 5px;
}

.noResults {
	margin-top: 100px;
	display: block;
}
